table{
    border:groove;
    width: 150px;
    height:200px;
}
td{
    color:#E3B0FF;
    text-align: center;
    font-size:15px;
    border-bottom-style:dotted;
}
#image{
background-image:  url(http://www.annettespinks.com.au/img/products/product-large-22-melbourne-rain-under-the-umbrella.jpg);
}